{% extends "index.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.css' %}"/>
{% endblock %}

{% block extrajs %}
<script>
    {% for query, x in contractData.items %}
        console.log('{{query}}');
        console.log({{x|safe}});
    {% endfor %}

    var contractData = {{contractData|safe }};
    console.log(contractData);
    var contract = JSON.parse(contractData.contract)[0];
    console.log(contract);
    var contractDates = JSON.parse(contractData.contractDates);
    console.log(contractDates);
    var stagesData = JSON.parse(contractData.stagesData);
    console.log(stagesData);

    //Used for filling contract dates values and designing it
    var contractDateFields = {'1': {'element_id': 'contractApprovedDate', 'db_field': 'approvedDate', 'status': gettext('Approved')},
                            '2': {'element_id': 'contractSentDate', 'db_field': 'sentDate', 'status': gettext('Sent')},
                            '3': {'element_id': 'contractReceivedDate', 'db_field': 'receivedDate', 'status': gettext('Received')},
                            '4': {'element_id': 'contractStoredDate', 'db_field': 'storedDate', 'status': gettext('Stored')}};
    var prevContractDateValue = true;






</script>

<script src="{% static 'js/selectize.js' %}"></script>
<script src="{% static 'js/jquery.steps.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/localization.fix.js' %}"></script>
<script src="{% static 'js/additional-methods.js' %}"></script>
<script src="{% static 'js/datatables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/jquery.masknumber.js' %}"></script>
<script src="{% static 'js/custom/contract.js' %}"></script>
{% endblock %}


{% block page-header %}{% trans "Contract page" %}{% endblock %}

{% block content %}
<div class="modal fade" id="confirmContractDateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="clearfix modal-header">
                <h4 class="modal-title">{% trans 'Confirm date' %}</h4>
            </div>

            <div class="content clearfix modal-body">
                <form id="confirmContractDateForm" method="post">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="form-group">
                                <div class='input-group date' id='contractDatePicker'>
                                    <input type="text" class="form-control datepicker" id="contractDate"
                                           name="contractDate" placeholder="{% trans 'Contract date' %}" tabindex="">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-block" id="confirmContractDate">
                                    {% trans "Confirm date" %}
                                </button>
                            </div>

                            <div class="form-group">
                                <div data-toggle="popover" data-placement="bottom" data-container="body"
                                     data-content="Unavailable while next date is filled" data-trigger="hover">
                                    <button type="button" class="btn btn-warning btn-block" id="rollbackContractDate">
                                        {% trans "Rollback date" %}
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="container">

    <div class="col-sm-12 col-md-12 col-xl">
        <div id="summaryPanel" class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="" data-toggle="collapse" data-target="#summaryPanelBody">
                        {% trans "Contract summary" %}
                        <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="summaryPanelBody" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-lg-4 col-md-6 col-xl">
                        <table id="summaryTable" class="table table-condensed no-margin-bottom">
                            <thead>
                            </thead>
                            <tbody id="summaryTableBody">
                            <tr>
                                <td>{% trans "Total sum" %}:</td>
                                <td id="contractTotalSum"></td>
                                <td></td>
                                <td>{% trans "Approved" %}:</td>
                                <td class="td-hoverable change-contract-date"><a id="contractApprovedDate"></a> <span
                                        class="glyphicon hoverable"></span></td>
                            </tr>
                            <tr>
                                <td>{% trans "Confirmed" %}:</td>
                                <td id="contractConfirmedSum"></td>
                                <td></td>
                                <td>{% trans "Sent" %}:</td>
                                <td class="td-hoverable change-contract-date"><a id="contractSentDate"></a> <span
                                        class="glyphicon hoverable"></span></td>
                            </tr>
                            <tr>
                                <td>{% trans "Contract status" %}:</td>
                                <td id="contractStatus">Received</td>
                                <td></td>
                                <td>{% trans "Received" %}:</td>
                                <td class="td-hoverable change-contract-date"><a id="contractReceivedDate"></a> <span
                                        class="glyphicon hoverable"></span></td>
                            </tr>
                            <tr>
                                <td>{% trans "Project status" %}:</td>
                                <td id="projectStatus">Unknown</td>
                                <td></td>
                                <td>{% trans "Stored" %}:</td>
                                <td class="td-hoverable change-contract-date"><a id="contractStoredDate"></a> <span
                                        class="glyphicon hoverable"></span></td>
                            </tr>
                            <tr>
                                <td>{% trans "Travel cost" %}:</td>
                                <td id="contractTravelCostSum"></td>
                                <td></td>
                                <td>{% trans "Sign up" %}:</td>
                                <td class="td-hoverable not-allowed"><span
                                        class="glyphicon glyphicon-bell hoverable"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-xl">
        <div id="schedulePanel" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#schedulePanelBody">
                        {% trans "Schedule" %}
                        <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="schedulePanelBody" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                    <div class="col-lg-4 col-md-6 col-xl">
                        <table id="scheduleTable" class="table table-condensed ">
                            <thead>
                            </thead>
                            <tbody id="scheduleTableBody">
                            <tr>
                                <td>{% trans "Stages total" %}:</td>
                                <td id="stagesTotal"></td>
                                <td>{% trans "Project dates" %}:</td>
                                <td id="projectDates"></td>
                            </tr>
                            <tr>
                                <td>{% trans "Current stage" %}:</td>
                                <td id="currentStage"></td>
                                <td>{% trans "Allowance" %}:</td>
                                <td id="allowance"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                        </div>
                    <div class="" style="margin-bottom: 15px;">
                        <div class="btn-group">
                            <!-- Button trigger modal -->
                            <button id="addStage" class="btn btn-primary" data-toggle="modal"
                                    data-target="#addStageModal">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                {% trans "New stage" %}
                            </button>
                        </div>
                    </div>
                    <div>
                        <table id="stagesTable" class="table table-condensed table-bordered no-margin-bottom">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Status" %}</th>
                                <th>{% trans "Starting date (plan)" %}</th>
                                <th>{% trans "Starting date (real)" %}</th>
                                <th>{% trans "Finish date (plan)" %}</th>
                                <th>{% trans "Finish date (real)" %}</th>
                                <th>{% trans "Documents" %}</th>
                                <th>{% trans "Quality" %}</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-xl">
        <div id="projectDocumentsPanel" class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#projectDocumentsPanelBody">
                        {% trans "Project documents" %}
                        <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="projectDocumentsPanelBody" class="panel-collapse collapse in">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-xl">
        <div id="agreementsPanel" class="panel panel-warning">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#agreementsPanelBody">
                        {% trans "Agreements" %}
                        <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="agreementsPanelBody" class="panel-collapse collapse in">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-xl">
        <div id="accountingDocuments" class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#accountingDocumentsBody">
                        {% trans "Accounting documents" %}
                        <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="accountingDocumentsBody" class="panel-collapse collapse in">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
