{% extends "index.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.css' %}"/>
{% endblock %}

{% block extrajs %}
<script>
    {% for query, x in contractData.items %}
        console.log('{{query}}');
        console.log({{x|safe}});
    {% endfor %}

    var contractData = {{contractData|safe }};
    console.log(contractData);
</script>

<script src="{% static 'js/selectize.js' %}"></script>
<script src="{% static 'js/jquery.steps.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/localization.fix.js' %}"></script>
<script src="{% static 'js/additional-methods.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/jquery.masknumber.js' %}"></script>
<script src="{% static 'js/contract.js' %}"></script>
{% endblock %}


{% block page-header %}{% trans "Contract page" %}{% endblock %}

{% block content %}
<div class="modal fade" id="confirmContractDateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="clearfix modal-header">
                <h4 class="modal-title">{% trans 'Confirm date' %}</h4>
            </div>

            <div class="content clearfix modal-body">
                <form id="confirmContractDateForm" method="post">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="form-group">
                                <div class='input-group date' id='contractDatePicker'>
                                    <input type="text" class="form-control datepicker" id="contractDate"
                                           name="contractDate" placeholder="{% trans 'Contract date' %}" tabindex="">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-block" id="confirmContractDate">
                                    {% trans "Confirm date" %}
                                </button>
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-warning btn-block" id="rollbackContractDate">
                                    {% trans "Rollback date" %}
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="container">

    <div class="col-sm-12 col-md-12 col-xl">
        <div id="summaryPanel" class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#summaryPanelBody">
                        {% trans "Contract summary" %}
                        <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="summaryPanelBody" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-lg-4 col-md-6 col-xl">
                        <table id="summaryTable" class="table table-condensed  no-margin-bottom">
                            <thead>
                            </thead>
                            <tbody id="summaryTableBody">
                            <tr>
                                <td>{% trans "Total sum" %}:</td>
                                <td id="contractTotalSum"></td>
                                <td></td>
                                <td>{% trans "Approved" %}:</td>
                                <td id="contractApprovedDate" class="td-hoverable change-contract-date"><span
                                        class="glyphicon glyphicon-pencil hoverable"></span></td>
                            </tr>
                            <tr>
                                <td>{% trans "Confirmed" %}:</td>
                                <td id="contractConfirmedSum"></td>
                                <td></td>
                                <td>{% trans "Sent" %}:</td>
                                <td id="contractSentDate" class="td-hoverable change-contract-date"><span
                                        class="glyphicon glyphicon-pencil hoverable"></span></td>
                            </tr>
                            <tr>
                                <td>{% trans "Contract status" %}:</td>
                                <td id="contractStatus">Received</td>
                                <td></td>
                                <td>{% trans "Received" %}:</td>
                                <td id="contractReceivedDate" class="td-hoverable change-contract-date"><span
                                        class="glyphicon glyphicon-plus hoverable"></span></td>
                            </tr>
                            <tr>
                                <td>{% trans "Project status" %}:</td>
                                <td id="projectStatus">Unknown</td>
                                <td></td>
                                <td>{% trans "Stored" %}:</td>
                                <td id="contractStoredDate" class="td-hoverable change-contract-date"><span
                                        class="glyphicon glyphicon-plus hoverable"></span></td>
                            </tr>
                            <tr>
                                <td>{% trans "Travel cost" %}:</td>
                                <td id="contractTravelCostSum"></td>
                                <td></td>
                                <td>{% trans "Sign up" %}:</td>
                                <td class="td-hoverable"><span class="glyphicon glyphicon-bell hoverable"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-xl">
        <div id="schedulePanel" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#schedulePanelBody">
                        {% trans "Schedule" %}
                        <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="schedulePanelBody" class="panel-collapse collapse in">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-xl">
        <div id="projectDocumentsPanel" class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#projectDocumentsPanelBody">
                        {% trans "Project documents" %}
                        <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="projectDocumentsPanelBody" class="panel-collapse collapse in">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-xl">
        <div id="agreementsPanel" class="panel panel-warning">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#agreementsPanelBody">
                        {% trans "Agreements" %}
                        <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="agreementsPanelBody" class="panel-collapse collapse in">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-xl">
        <div id="accountingDocuments" class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#accountingDocumentsBody">
                        {% trans "Accounting documents" %}
                        <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
            <div id="accountingDocumentsBody" class="panel-collapse collapse in">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
