{% extends "index.html" %}
{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/jquery-bootstrap-modal-steps.js' %}"></script>
<script src="{% static 'js/selectize.js' %}"></script>
<script src="{% static 'js/style.js' %}"></script>
<script src="{% static 'js/jquery.steps.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>
<!--script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script-->
{% endblock %}



{% block page-header %}
{% endblock %}

{% block content %}
<div class="text-center">
    <div class="btn-group">
        <!-- Button trigger modal -->
        <button id="add" class="btn btn-xlg btn-default btn-ghost" data-toggle="modal" data-target="#myModal">Add</button>
        <button id="look" class="btn btn-xlg btn-default btn-ghost">Look</button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!--<div class="modal-header">-->

            <!--</div>-->
            <!--<div class="modal-body">-->

                <form id="projectAddForm">
                    <h3>Description</h3>
                    <h3>Place</h3>
                    <h3>Stages</h3>

                    <section>
                        <div class="form-group col-lg-12">
                            <select class="form-control" id="selectTemplate">
                                <option>No template</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control" id="projectName" name="projectName">
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label">Type</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="Outside" value="option1" checked="">
                                    Outside
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="Inside" value="option2">
                                    Inside
                                </label>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control" id="companyName" placeholder="Company Name">
                        </div>
                        <div class="form-group col-lg-12">
                            <select class="form-control" id="selectCountry" placeholder="Select a country" >
                                <option value="">Select a country</option>
                                <option value="1">Russia</option>
                                <option value="2">Ukraine</option>
                                <option value="3">Latvia</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-12">
                            <select class="form-control" id="selectCity" placeholder="Select a city" >
                                <option value="">Select a city</option>
                                <option value="1">Moscow</option>
                                <option value="2">Saint-Peterburg</option>
                                <option value="3">Kiev</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-12">
                            <textarea class="form-control" id="Address" rows="3" placeholder="Address"></textarea>
                        </div>
                    </section>

                    <section>
                        <div id="stagesList" class="form-group col-lg-12">
                            <label class="control-label">Current:</label>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="control-label">Add new</label>
                            <select class="form-control" id="selectStage" placeholder="Stage name">
                                <option value="">Stage name</option>
                                <option value="1">Analysis</option>
                                <option value="2">Configuration</option>
                                <option value="3">Implementation</option>
                            </select>
                        </div>
                        <!--Struik. For possible future use: in case of need for dynamic stage attributes-->
                        <!--div class="form-group col-lg-12">
                        <select class="form-control" id="selectAttribute" placeholder="Stage attribute">
                        <option value="">Stage attribute</option>
                        <option value="1">Cost</option>
                        <option value="2">Duration</option>
                        <option value="3">Payment</option>
                        </select>
                        </div-->
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control stage-attr" id="Cost" placeholder="Cost">
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control stage-attr" id="Duration" placeholder="Duration">
                        </div>
                        <div class="form-group col-lg-12">
                            <select class="form-control" id="selectPayment" placeholder="Payment type" >
                                <option value="">Payment type</option>
                                <option value="1">Pre</option>
                                <option value="2">Post</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12">
                            <button id="newStage" type="button" class="btn btn-info col-lg-12">Add stage</button>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" placeholder="price">
                            </div>
                        </div>
                    </section>
                </form>

            <!--</div>-->
            <!--<div class="modal-footer">-->
            <!--</div>-->
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    var exForm = $("#projectAddForm");

    exForm.steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: 1,
        autoFocus: true,
        enableCancelButton: true,
        labels: {
            current: "",
        }
    });

    $('.wizard .steps').addClass("modal-header");
    $('.wizard .content').addClass("modal-body");
    $('.wizard .actions').addClass("modal-footer");

    $('.steps1 ul').addClass("modal-title");
    $('.steps1 ul').addClass("nav-pills");
    //$(".steps ul li").append("<h4 class='modal-title'>AAAA</h4>");
    $(".steps ul li").each(function (i) {
        var title = $(this).find("a").contents().filter(function() {
            return this.nodeType == 3;
        }).text();
        $(this).append("<h4 class='modal-title'>" + title + "</h4>")
    })

    $('.actions ul').addClass("pager");
    $('a[href="#cancel"]').addClass("pull-left");




    /*exForm.validate();*/

    var projectForm = $('#myModal')

    /*projectForm.modalSteps();

    projectForm.on('shown.bs.modal', function () {
        $('#myInput').focus()
    })*/

    /*projectForm.validate({
        rules: {
            'projectName': {
                required: true,
                minlength: 3,
                email: true,
            }
        }
    });*/

    $('#next').click(function() {
        console.log('Next!');
        /*console.log(projectForm.valid());*/
    });

    /*$('li').click(function() {
        console.log($(this));
        console.log('Next!');
        console.log(exForm.valid());
    });*/


    $('#selectCountry').selectize({
        create: true,
        sortField: 'text'
    });

    $('#selectCity').selectize({
        create: true,
        sortField: 'text',
    });

    $('#selectStage').selectize({
        create: true,
        sortField: 'text',
    });

    /*$('#selectAttribute').selectize({
        create: true,
        sortField: 'text',
    });*/

    $('#selectPayment').selectize({
    });

    $('#selectValue').selectize({
        create: true,
        sortField: 'text',
    });

    var stagesQty = 0;
    var stageText;


    $('#newStage').click(function() {
        stageText = $('#selectStage').text()
        stagesQty++;
        console.log('Stage adding. Stage name: ' + stageText + '. New stages quantity: ' + stagesQty);
        $('#stagesList').append('<a href="#" class="list-group-item" data-toggle="collapse" data-target="#Stage' + stagesQty + '"'
            + 'data-parent="#menu"><strong>' + stageText + '</strong><span class="glyphicon glyphicon-chevron-down pull-right"></span></a>'
            + '<div id="Stage' + stagesQty + '" class="sublinks collapse">'
            + '<a class="list-group-item small">Cost: 5000$</a>'
            + '<a class="list-group-item small">Duration: 5 weeks</a>'
            + '</div>');
        console.log('Stage added');

        $('.collapse').on('shown.bs.collapse', function(){
        $(this).parent().find("a[data-target='#" + $(this).attr("id") + "'] span.glyphicon-chevron-down")
            .removeClass("glyphicon-chevron-down")
            .addClass("glyphicon-chevron-up");
            }).on('hidden.bs.collapse', function(){
                $(this).parent().find(".glyphicon-chevron-up")
                    .removeClass("glyphicon-chevron-up")
                    .addClass("glyphicon-chevron-down");
                });
    });
});


</script>
{% endblock %}
