{% extends "index.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.css' %}"/>
{% endblock %}

{% block extrajs %}
<script>
    //Variable containing all cities with reference to countries which will be used in main.js
    //Django variables are only accessible inside the template and can be passed to external javascript only this way
    var cities = {};
    {% for query in projectAttrs.Cities %}
        if(cities['{{query.country.name}}'])
        {
            cities['{{query.country.name}}'].push({ 'id': '{{query.id}}', 'name': '{{query.name}}' })
        }
        else
        {
            cities['{{query.country.name}}']=[]
            cities['{{query.country.name}}'].push({ 'id': '{{query.id}}', 'name': '{{query.name}}' })
        }
    {% endfor %}

    {% for query, x in projectAttrs.items %}
        console.log('{{query}}');
        console.log({{x|safe}});
    {% endfor %}

    {% for query in projectAttrs.Countries %}
        console.log('{{query.pk}}');
        console.log('{{query.fields.name}}');
    {% endfor %}

    var projects = {{projectAttrs|safe }};
    console.log(cities);
    console.log(projects);
</script>

<script src="{% static 'js/selectize.js' %}"></script>
<script src="{% static 'js/jquery.steps.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/localization.fix.js' %}"></script>
<script src="{% static 'js/additional-methods.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/jquery.masknumber.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}


{% block page-header %}
{% endblock %}

{% block content %}
<div class="text-center">
    <div class="btn-group">
        <!-- Button trigger modal -->
        <button id="add" class="btn btn-xlg btn-default btn-ghost" data-toggle="modal" data-target="#myModal">Add
        </button>
        <button id="look" class="btn btn-xlg btn-default btn-ghost" onclick="location.href='projects';">Look</button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="projectAddForm" method="post">
                <h3>{% trans "Description" %}</h3>
                <!--<h3>Stages</h3>-->
                <h3>{% trans "Contract" %}</h3>

                <section>
                    <div class="form-group">
                        <select class="form-control selfselectized" id="selectProject" name="selectProject"
                                placeholder="{% trans 'Select or add project' %}" reference_id="Projects" tabindex="1">
                            <option value="">Select a project</option>
                            {% for query in projectAttrs.Projects %}
                            <option value="{{query.pk}}">{{query.fields.name}}</option>
                            {% endfor %}
                        </select>
                        <!--<input type="text" class="form-control" id="projectName" name="projectName" value=""-->
                               <!--placeholder="{% trans 'Project name' %}" tabindex="1">-->
                    </div>

                    <!--<div class="alert alert-info alert-dismissible" role="alert">-->
                        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span-->
                                <!--aria-hidden="true">&times;</span></button>-->
                        <!--Just start typing if you want to add new company, country or city-->
                    <!--</div>-->

                    <div class="form-group">
                        <select class="form-control selectize" id="selectCompany" name="selectCompany"
                                placeholder="{% trans 'Select or add company' %}" reference_id="Companies" tabindex="2">
                            <option value="">Select a company</option>
                            {% for query in projectAttrs.Companies %}
                            <option value="{{query.pk}}">{{query.fields.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control selfselectized" id="selectCountry" name="selectCountry"
                                placeholder="{% trans 'Select or add country' %}" reference_id="Countries" tabindex="3">
                            <option value="">Select a country</option>
                            {% for query in projectAttrs.Countries %}
                            <option value="{{query.pk}}">{{query.fields.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control selfselectized" id="selectCity" name="selectCity"
                                placeholder="{% trans 'Select or add city' %}" reference_id="Cities" tabindex="4">
                            <option value="">Select a city</option>
                            {% for query in projectAttrs.Cities %}
                            <option value="{{query.pk}}">{{query.fields.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="Address" name="Address" rows="3"
                                  placeholder="{% trans 'Address' %}" tabindex="5"></textarea>
                    </div>
                </section>

                <section>
                    <div id="confirmPanel" class="panel panel-default">
                        <div class="panel-body">

                            <div class="form-group">
                                <select class="form-control selfselectized" id="selectContractType"
                                        name="selectContractType"
                                        placeholder="{% trans 'Select or add contract type' %}" reference_id="ContractTypes" tabindex="6">
                                    <option value="">Contract type</option>
                                    {% for query in projectAttrs.ContractTypes %}
                                    <option value="{{query.pk}}">{{query.fields.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control contract-attr" id="contractName"
                                       name="contractName"
                                       value="" placeholder="{% trans 'Contract name' %}" tabindex="7" disabled>
                            </div>

                            <hr>

                            <div class="form-group">
                                <label id="paymentsListLabel" class="control-label text-center hidden">
                                    {% trans "Payment schedule" %}
                                </label>

                                <table id="paymentsTable" class="table table-condensed table-hover hidden">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{% trans "Amount" %}</th>
                                        <th>{% trans "Date" %}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="paymentsTableBody">
                                    </tbody>
                                </table>
                            </div>

                            <div id="paymentHint" class="form-group text-right hidden">
                                <p class="text-inline">{% trans 'Total' %}: </p>
                                <em id="paymentSum" class="text-inline">0</em>
                            </div>

                            <div class="form-group">
                                <div class='input-group date' id='paymentDatePicker'>
                                    <input type="text" class="form-control datepicker payment-attr" id="paymentDate"
                                           name="paymentDate" placeholder="{% trans 'Payment date' %}" tabindex="8" disabled>
                                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control payment-attr" id="paymentAmount"
                                       name="paymentAmount"
                                       placeholder="{% trans 'Payment amount' %}" tabindex="9" disabled>
                            </div>

                            <div class="alert alert-danger save-alert hidden" role="alert">
                                {% trans "Please add payment or clear fields" %}
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-success payment-attr btn-block" id="addPayment"
                                        disabled>{% trans "Add payment" %}
                                </button>
                            </div>

                            <div class="form-group hidden">
                                <button id="clearPayments" type="button" class="btn btn-warning payment-attr btn-block"
                                        disabled>{% trans "Clear payments" %}
                                </button>
                            </div>
                        </div>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<button id="saveContract" type="button" class="btn btn-info  btn-block" disabled>-->
                            <!--{% trans "Save contract" %}-->
                        <!--</button>-->
                    <!--</div>-->

                </section>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
