{% extends "index.html" %}
{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}"/>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/datatables.js' %}"></script>
<script src="{% static 'js/dataTables.rowsGroup.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/lodash.js' %}"></script>
<script>
    //Variable containing all cities with reference to countries which will be used in main.js
    //Django variables are only accessible inside the template and can be passed to external javascript only this way
    {% autoescape off %}
        var columns = {{columns}};
        var payments = {{payments}};
    {% endautoescape %}

    console.log(columns);
    console.log(payments);

</script>

<script src="{% static 'js/projects.js' %}"></script>
{% endblock %}


{% block page-header %}Projects{% endblock %}

{% block content %}



<table id="projects" class="table table-bordered" cellspacing="0" width="100%">
</table>

{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}