{% extends "index.html" %}
{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/fixedColumns.bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/projects.css' %}"/>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/datatables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'js/dataTables.rowsGroup.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/projects.js' %}"></script>
{% endblock %}


{% block page-header %}Projects{% endblock %}

{% block content %}
<table id="projects" class="table table-bordered" cellspacing="0" width="100%">
</table>


<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <!--<div class="modal-header">-->
            <!--</div>-->
            <div class="modal-body">
                <form id="paymentForm" enctype="multipart/form-data" payment_id="">
                    <div>
                        <ul class="nav nav-tabs">
                            <li id="infoTab" class="active"><a data-toggle="tab" href="#info">Info</a></li>
                            <li id="splitTab"><a data-toggle="tab" href="#split">Split</a></li>
                        </ul>

                        <div class="tab-content top-buffer">
                            <div id="info" class="tab-pane fade in active">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div id="paymentInfo" class="form-group">
                                            <table id="paymentInfoTable" class="table table-condensed table-borderless">
                                                <thead>
                                                </thead>
                                                <tbody id="paymentInfoTableBody">
                                                <tr>
                                                    <td>Project name:</td>
                                                    <td id="projectName"></td>
                                                </tr>
                                                <tr>
                                                    <td>Manager:</td>
                                                    <td id="manager"></td>
                                                </tr>
                                                <tr>
                                                    <td>Current state:</td>
                                                    <td id="currentState"></td>
                                                </tr>
                                                <tr>
                                                    <td>Contract type:</td>
                                                    <td id="contractType"></td>
                                                </tr>
                                                <tr>
                                                    <td>Contract name:</td>
                                                    <td id="contractName"></td>
                                                </tr>
                                                <tr>
                                                    <td>Payment amount:</td>
                                                    <td id="paymentAmount"></td>
                                                </tr>
                                                <tr>
                                                    <td>Planned date:</td>
                                                    <td id="plannedDate"></td>
                                                </tr>
                                                <tr>
                                                    <td>Confirmed date:</td>
                                                    <td id="confirmedDate"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="splitInfo" class="form-group hidden">
                                            <div class="alert alert-info">
                                                <strong>Payment is split</strong><br/>
                                                Actions are not available
                                            </div>
                                            <table id="childPaymentTable" class="table table-condensed table-hover">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date</th>
                                                    <th>Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody id="childPaymentsTableBody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="confirmPanel" class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class='input-group date' id='confirmDatePicker'>
                                                <input type="text" class="form-control datepicker"
                                                       id="confirmDate"
                                                       name="confirmDate" placeholder="Payment date">
                                                <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <button type="button" class="btn btn-success btn-block" id="confirmPayment">
                                                Confirm payment
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="unconfirmPanel" class="form-group ">
                                    <button type="button" class="btn btn-warning btn-block" id="unconfirmPayment">
                                        Unconfirm payment
                                    </button>
                                </div>
                            </div>
                            <div id="split" class="tab-pane fade">
                                <div class="panel panel-default">
                                    <div class="panel-body">

                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" readonly="">
                                                <label class="input-group-btn">
                                                    <span class="btn btn-primary">
                                                        Browse… <input type="file" name="document"
                                                                       style="display: none;">
                                                    </span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control payment-attr" id="documentName"
                                                   name="documentName"
                                                   placeholder="Document name">
                                        </div>

                                        <div class="form-group col-lg-12">
                                            <label id="paymentsListLabel" class="control-label text-center">Payments
                                                info</label>

                                            <table id="paymentsTable" class="table table-condensed table-hover hidden">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date</th>
                                                    <th>Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody id="paymentsTableBody">
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="form-group">
                                            <div class='input-group date' id='splitDatePicker'>
                                                <input type="text" class="form-control datepicker"
                                                       id="childPaymentDate"
                                                       name="childPaymentDate" placeholder="Payment date">
                                                <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control payment-attr" id="childPaymentAmount"
                                                   name="childPaymentAmount"
                                                   placeholder="Payment amount">
                                        </div>

                                        <div class="form-group">
                                            <button type="button" class="btn btn-success btn-block" id="addPayment">
                                                Add payment
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-info btn-block" id="save">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--<div class="modal-footer">-->
            <!--</div>-->
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}