/*TODO. Change to scalable values*/
td span{
    font-size:11px;
    padding-top: 4px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

.no-margin-bottom {
    margin-bottom: 0px;
}


.dataTable th{
    font-weight: normal;
    background-color: #337ab7;
    color: white;
}

.static-columns:first-child{
    min-width: 30px;
}

.static-columns:not(:first-child){
    min-width: 100px;
}

/*Hiding second column header*/
#projectsHeaderSecond{
    height: 0px !important;
    padding: 0px;
}

/*Hiding second column header*/
#projectsHeaderSecond th{
    height: 0px !important;
    padding: 0px;
    border: 0px;
}

td.payment{
    width: 78px;
    min-width: 78px;
}

td.payment:nth-child(odd) {
    border-right-style: dashed;
    border-right-color: rgb(230, 230, 230);
}

td.payment:nth-child(event) {
    border-left-style: dashed;
    border-left-color: rgb(230, 230, 230);
}

.panel-expanded {
    border-color:  #000000;
}