/*TODO. Change to scalable values*/
/*TODO. Change to 'hoverable' class to avoid duplication*/
td span{
    font-size:11px;
    padding-top: 4px;
}

.hoverable{
    color: #999999;
}

.hoverable:hover{
    color: #333333;
}

.hoverable {
    cursor: pointer;
    cursor: hand;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

.modal-sm {
    width: 350px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}